@import './partials/google_icons';
@import './partials/colors';
@import './header.scss';
@import './hero.scss';
@import './main_container.scss';
@import './footer.scss';
@import './category_page.scss';
@import './product.scss';
@import './product_details.scss';
@import './cart.scss';




body {
    position: relative;
}

.App {
    color: $main_gray;
    position: absolute;
    width: 100%;
    height: 100%;
}