@import './partials/colors';
@import './partials/variables';

#cart_container {
    padding: $padding;
}

#checkout_btn {
    border: none;
    padding: 1em 2em;
    background-color: $main_gray;
    color: $minimal_gray;
}