@import './partials/colors';

header {
    background-color: $minimal_gray;
}

#inputField {
    outline: none;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    padding: 0;

}