@import './partials/colors';

header {
    background-color: transparent;

}

.scrolled_header {
    
    a {
        color: $minimal_gray !important;
        transition: all 0.3s ease;
    }
    color: $minimal_gray;
    background-color: $main_gray;
    transition: all 0.3s ease;
}

#inputField {
    outline: none;
    border-bottom: 1px solid black;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    padding: 0;

}