@import './partials/colors';
@import './partials/mixins';
@import './partials/breakpoints';

$error_color: #d66262;

.input_label {
    font-size: 0.9em;
}

input,
#submit {
    @include button;
    width: 100%;
    padding: 0.5em;
}

#submit {
    background-color: $main_gray;
    color: $minimal_gray;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #424141;
}

.input_error {
    border: 2px solid $error_color;
}

.input_error_msg {
    font-size: 0.8em;
    color: $error_color;
}

.form_col {
    border: 1px solid $minimal_gray;
    border-radius: 5px;
}

#create_account {
    span {
        font-size: 0.8em;
    }

    button {
        @include button;
        width: 100%;
        padding: 0.5em;
        background-color: $main_gray;
        color: $minimal_gray;
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #424141;
        }
    }
}