@import './partials/mixins';
@import './partials/colors';

.product_card {
    border: 1px solid $minimal_gray;

    img {
        object-fit: contain;
    }

    .favorite {
        aspect-ratio: 1/1;
        width: 50px;
        background-color: $minimal_gray;
        right: 0;
        top: 0;

        span {
            &:hover {
                color: black;
            }
        }
    }
}