@import './partials/colors';

.product_container {

    .product_img_container {
        border: 1px solid $minimal_gray;
        padding: 1em;
    }

    img {
        height: 200px;
        object-fit: cover;

        &:hover {

            cursor: pointer;
        }
    }

    .favorite {
        background-color: $minimal_gray;
        aspect-ratio: 1;
        width: 40px;
    }

    .product_price {
        background-color: $main_gray;
        color: white;
    }
}