@import './partials/colors';

.product_container {

    img {
        
        object-fit: cover;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }

    .favorite {
        background-color: $minimal_gray;
        aspect-ratio: 1;
        width: 30px;
    }
}