@import './colors';

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    
    &:visited,
    &:link,
    &:active,
    &:hover {
        text-decoration: none;
        color: $main_gray !important;
    }
}

// .accordion-button {
//     background: $main_gray !important;
//     color: $minimal_gray !important;
// }